  <!-- doughnut & pie charts -->
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutGap="1rem" class="widget">
  <mat-card style="height: 30vh;" fxFlex="100%">
    <app-doughnut-chart></app-doughnut-chart>
  </mat-card>
  <mat-card style="height: 30vh;" fxFlex="100%">
    <app-pie-chart></app-pie-chart>
  </mat-card>
</div>
  <!-- doughnut & pie charts end -->

<!-- bar chart -->
<div class="widget" fxLayout.xs="column" fxLayout.sm="column"  fxLayoutGap="1rem" fxLayout="row">
  <mat-card fxFlex.sm="100%" fxFlex="60%">
    <app-bar-chart></app-bar-chart>
  </mat-card>
  <mat-card fxFlex.sm="100%" fxFlex="40%">
    <app-date-widget></app-date-widget>
  </mat-card>
</div>
<!-- bar chart end -->
